
<section class="services" id="services">
    <h1 class="heading">
        <span>S</span>
        <span>e</span>
        <span>r</span>
        <span>v</span>
        <span>i</span>
        <span>c</span>
        <span>e</span>
        <span>s</span>
    </h1>
    <div class="box-container">
        <div class="box">
            <i class="fas fa-hotel"></i>
            <h3>affordabale hotels</h3>
            <p>Discover a range of affordable hotels that combine comfort and convenience without breaking the bank. Perfect for budget-conscious travelers seeking quality stays</p>
            <a href="#book" class="btn">Book Now</a>
        </div>
        <div class="box">
            <i class="fas fa-utensils"></i>
            <h3>food and drinks</h3>
            <p>Savor a variety of delicious cuisines and refreshing drinks crafted to tantalize your taste buds. Perfect for food lovers and beverage enthusiasts alike!</p>
            <a href="#book" class="btn">Book Now</a>
        </div>
        <div class="box">
            <i class="fas fa-bullhorn"></i>
            <h3>saftey guide</h3>
            <p>Equip yourself with essential tips and guidelines to ensure your safety in any situation. Prioritize your well-being with our expert advice</p>
            <a href="#book" class="btn">Book Now</a>
        </div>
        <div class="box">
            <i class="fas fa-globe-asia"></i>
            <h3>around the world</h3>
            <p>Embark on a journey to discover the wonders of diverse cultures, iconic landmarks, and hidden gems. Your adventure begins here</p>
            <a href="#book" class="btn">Book Now</a>
        </div>
        <div class="box">
            <i class="fas fa-plane-departure"></i>
            <h3>fastest travel</h3>
            <p>Experience seamless journeys with top-speed travel options designed to save time and enhance comfort. Get to your destination quicker than ever!</p>
            <a href="#book" class="btn">Book Now</a>
        </div>
        <div class="box">
            <i class="fas fa-hiking"></i>
            <h3>adventures</h3>
            <p>Dive into excitement with exhilarating treks, adrenaline-pumping water games, and unforgettable outdoor adventures. Perfect for thrill-seekers and nature lovers!</p>
            <a href="#book" class="btn">Book Now</a>
        </div>
    </div>
</section>
