
<section class="gallery" id="gallery">
    <h1 class="heading">
        <span>g</span>
        <span>a</span>
        <span>l</span>
        <span>l</span>
        <span>e</span>
        <span>r</span>
        <span>y</span>
    </h1>
    <div class="box-container">
        <div class="box">
            <img src="assets/g-1.jpg" alt="" srcset="">
            <div class="content">
                <h3>amazing places islands</h3>
                <p>Beach view point</p><br>
                <a href="http://" class="btn" title="See more">see more</a>

            </div>
        </div>
        <div class="box">
            <img src="assets/g-6.jpg" alt="" srcset="">
            <div class="content">
                <h3>amazing places</h3>
                <p>Sun set!</p><br>
                <a href="http://" class="btn">see more</a>
            </div>
        </div>
        <div class="box">
            <img src="assets/g-8.jpg" alt="" srcset="">
            <div class="content">
                <h3>amazing places</h3>
                <p>top of hills sun rise..!</p><br>
                <a href="http://" class="btn">see more</a>
            </div>
        </div>
        <div class="box">
            <img src="assets/g-3.jpg" alt="" srcset="">
            <div class="content">
                <h3>amazing places</h3>
                <p>Temple in Athens, Greece.!</p><br>
                <a href="http://" class="btn">see more</a>
            </div>
        </div>
        <div class="box">
            <img src="assets/g-2.jpg" alt="" srcset="">
            <div class="content">
                <h3>amazing places</h3>
                <p> Amazing Thailand.!</p><br>
                <a href="http://" class="btn">see more</a>
            </div>
        </div>
        <div class="box">
            <img src="assets/g-7.jpg" alt="" srcset="">
            <div class="content">
                <h3>amazing places</h3>
                <p> Hot air ballon!</p><br>
                <a href="http://" class="btn">see more</a>
            </div>
        </div>
        <div class="box">
            <img src="assets/g-5.jpg" alt="" srcset="">
            <div class="content">
                <h3>amazing places</h3>
                <p>italy!</p><br>
                <a href="http://" class="btn">see more</a>
            </div>
        </div>
        <div class="box">
            <img src="assets/g-4.jpg" alt="" srcset="">
            <div class="content">
                <h3>amazing places in Indonesia</h3>
                <p> indonesia bali!</p><br>
                <a href="http://" class="btn">see more</a>
            </div>
        </div>
        <div class="box">
            <img src="assets/g-9.jpg" alt="" srcset="">
            <div class="content">
                <h3>amazing places Egypt</h3>
                <p>Egypt pyramids!</p><br>
                <a href="http://" class="btn">see more</a>
            </div>
        </div>
    </div>
</section>
