
<section class="footer">
    <div class="box-container">
        <div class="box">
            <h3>about us</h3>
            <p>Welcome to travel, your one-stop destination for booking flights and hotels worldwide.
               We aim to make travel planning simple, affordable, and stress-free by providing a seamless booking experience. Whether you're traveling for business or leisure, we offer a wide range of options to fit every need and budget.</p>
        </div>
        <div class="box">
            <h3>branch location</h3>
            <a href="#">hyderabad</a>
            <a href="#">mysore</a>
            <a href="#">banglore</a>
            <a href="#">vijayawada</a>
            <a href="#">tirupati</a>
        </div>
        <div class="box">
            <h3>quick links</h3>
            <a href="#">home</a>
            <a href="#">book</a>
            <a href="#">packages</a>
            <a href="#">services</a>
            <a href="#">gallery</a>
            <a href="#">review</a>
            <a href="#">contact</a>
        </div>
        <div class="box">
            <h3>follow us</h3>
            <a href="#">facebook</a>
            <a href="#">instagram</a>
            <a href="#">linkedin</a>
            <a href="#">gmail</a>
            
        </div>
    </div>
    <h1 class="credit">created by <span> DALALI AKHIL   </span>&copy;  all rights reserved!</h1>
</section>
