
<section class="review" id="review">
    <h1 class="heading">
        <span>r</span>
        <span>e</span>
        <span>v</span>
        <span>i</span>
        <span>e</span>
        <span>w</span>
    </h1>
    <div class="swiper mySwiper review-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class=" box">
                    <!-- <img src="./images/chaitu.jpg" alt="" srcset=""> -->
                     <h3>chaitu</h3> 
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt facilis omnis alias quod iusto dolorum reprehenderit commodi ipsam, adipisci dicta sapiente saepe sunt id voluptatem.</p>
                
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="box">
                    <!-- <img src="./images/palak.jpg" alt="" srcset=""> -->
                    <h3>balu</h3> 
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt facilis omnis alias quod iusto dolorum reprehenderit commodi ipsam, adipisci dicta sapiente saepe sunt id voluptatem.</p>
                
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="box">
                    <!-- <img src="./images/ram.jpg" alt="" srcset=""> -->
                    <h3>Ram</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt facilis omnis alias quod iusto dolorum reprehenderit commodi ipsam, adipisci dicta sapiente saepe sunt id voluptatem.</p>
                
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="box">
                    <!-- <img src="./images/harshita.jpg" alt="" srcset=""> -->
                    <h3>Harshita</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt facilis omnis alias quod iusto dolorum reprehenderit commodi ipsam, adipisci dicta sapiente saepe sunt id voluptatem.</p>
                
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="box">
                    <!-- <img src="./images/hitesh.jpg" alt="" srcset=""> -->
                    <h3> Reddy</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt facilis omnis alias quod iusto dolorum reprehenderit commodi ipsam, adipisci dicta sapiente saepe sunt id voluptatem.</p>
                
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
